.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-top: 0.1rem solid #ADB0B4;
    background-color: #0F1624;
}

.link__top-nav {
    padding: 0;
    padding-right: 10rem;
    display: flex;
    justify-content: flex-end;
    width: 99%;
}

.brand-logo-linkedin {
margin: 10px;
height: 50px;
width: 50px;
background: center url("https://img.icons8.com/fluent/48/000000/linkedin-circled.png");
border-radius: 50%;
box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-logo-github {
margin: 10px;
height: 50px;
width: 50px;
background:center url("https://img.icons8.com/fluent/48/000000/github.png");
border-radius: 50%;
box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}