.home {
    width: 100%;
    margin: auto;
}

.home-title {
    padding-top: 15rem;
    font-family: $font-1, sans-serif;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .5rem;
    color: #0F1624;
    animation: pop 3s;
}

.home-subtitle {
    font-family: $font-1, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #0F1624;
    padding: 2rem 0 0 0;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.home-techno {
    font-family: $font-1, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0F1624;
    padding: .8rem 0 0 0;
    animation: fadein 3s;
}

.link__home {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    width: 99%;
}

.brand-logo-linkedin-home {
margin: 10px;
height: 60px;
width: 60px;
background: center url("https://img.icons8.com/metro/50/000000/linkedin.png");
background-color: #e1e6ec;
background-size: 55%;
background-repeat: no-repeat;
border: 2px solid white;
border-radius: 50%;
animation: fadein 3s;
&:hover {
    border: 2px solid #0F1624;
    background-color: white;
    transition: all 0.5s ease-in-out;
}&:active {
    border: 2px solid #0F1624;
    background-color: #e1e6ec;
    transition: all 0.5s ease-in-out;
}
}

.brand-logo-github-home {
margin: 10px;
height: 60px;
width: 60px;
background:center url("https://img.icons8.com/ios-filled/50/000000/github.png");
background-color: #e1e6ec;
background-size: 90%;
background-repeat: no-repeat;
border: 1px solid white;
border-radius: 50%;
animation: fadein 3s;
&:hover {
    border: 1px solid #0F1624;
    background-color: white;
    transition: all 0.5s ease-in-out;
}&:active {
    border: 2px solid #0F1624;
    background-color: #e1e6ec;
    transition: all 0.5s ease-in-out;
}
}

@keyframes pop {
0% {
opacity: 0;
transform: translateY(-5rem);
}
100% {
opacity: 1;
transform: translateY(0);
}
}

@media screen and (max-width: 720px) {
.home-title {
    padding-top: 10rem;
    font-size: 3rem;
}

.home-subtitle {
    font-size: 1.3rem;
}

.home-techno {
    font-size: 1.3rem;
}
}

@media screen and (max-width: 320px) {
.home-title {
    padding-top: 10rem;
    font-size: 2.5rem;
}

.home-subtitle {
    font-size: 1rem;
}

.home-techno {
    font-size: 1rem;
}

.brand-logo-linkedin-home {
height: 50px;
width: 50px;
}

.brand-logo-github-home {
height: 50px;
width: 50px;
}
}