@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #e7ecee;
$color-2: #D6E1EA;
$color-3: #E5EEF7;

* {
font-family: $font-1;
}

body {
  text-align: center;
  background: linear-gradient(45deg, #ffffff, #aebcd8);
  background-color: black;
  min-height: 100vh;

  margin:0;
  padding:0;
  height:100%;
  overflow-y:scroll;
}